$bgcHeader:   #ffffff;
$bgcServices: #2a2d32;
$bgcMain:     #f7f7f7;
$bgcInfo:     #2a2d32;
$bgcFooter:   #35383c;
$bgcNav:      #2a2d32;
$bgcSearch:   #35383c;

@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);

* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
.header {
  margin: 0 auto;
  height: 100px;
  width: 1160px;
  background-color: $bgcHeader;
  overflow: hidden;
}
.header__logo {
  float: left;
  margin-top: 30px;
}
.header__logo-image {
  background-image: url(../img/logo.png);
  display: block;
  width: 209px;
  height: 40px;
}
.header__social {
  float: right;
  padding: 5px;
  background-color: #fff;
  margin-top: 40px;

  li {
    display: inline-block;
  }
}
.header__social-icon1 {
  background-image: url(../img/social-icon.png);
  background-position: 144px 32px;
  display: block;
  width: 20px;
  height: 16px;
}
.header__social-icon2 {
  background-image: url(../img/social-icon.png);
  background-position: 115px 32px;
  display: block;
  width: 20px;
  height: 16px;
}
.header__social-icon3 {
  background-image: url(../img/social-icon.png);
  background-position: 85px 32px;
  display: block;
  width: 20px;
  height: 16px;
}
.header__social-icon4 {
  background-image: url(../img/social-icon.png);
  background-position: 52px 32px;
  display: block;
  width: 20px;
  height: 16px;
}
.header__social-icon5 {
  background-image: url(../img/social-icon.png);
  background-position: 20px 32px;
  display: block;
  width: 20px;
  height: 16px;
}
.header__social-icon1:hover {
  background-image: url(../img/social-icon.png);
  background-position: 144px 16px;
}
.header__social-icon2:hover {
  background-image: url(../img/social-icon.png);
  background-position: 115px 16px;
}
.header__social-icon3:hover {
  background-image: url(../img/social-icon.png);
  background-position: 85px 16px;
}
.header__social-icon4:hover {
  background-image: url(../img/social-icon.png);
  background-position: 52px 16px;
}
.header__social-icon5:hover {
  background-image: url(../img/social-icon.png);
  background-position: 20px 16px;
}
.menu {
  height: 55px;
  width: 1160px;
  background-color: $bgcNav;
  margin: 0 auto;
}
.menu__item {
  float: left;
  height: 55px;
   li {
    list-style: none;
    display: inline-block;;
    color: white;
    height: 55px;
    padding-right: 40px;
    padding-left: 40px;
    border-right: 1px solid #181a1d;
  }
  li:first-child {
    background-color: #248cec;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-top: 18px;
  }
  a:hover {
    color: #f4b60d;
  }
}
.menu__search {
  float: right;
  padding: 7px;
  position: relative;

  input {
    background-color: $bgcSearch;
    border: 0px;
    width: 240px;
    height: 40px;
    display: block;
    color: #ffffff;
    opacity: 0.7;
    text-indent: 10px;
  }
}
.menu__search-icon {
  position: absolute;
  top: 20px;
  left: 230px;
  background-image: url(../img/search.png);
  display: block;
  width: 14px;
  height: 14px;
}
.slider {
  margin-top: 10px;
}
.explain {
  height: 340px;
  width: 1160px;
  margin: 0 auto;
}
.explain__block {
  float: left;
  width: 350px;
  margin: 10px;
  margin-top: 70px;
  font-family: 'Ubuntu', sans-serif;
}
.explain__block__number {
  display: block;
  margin-top: -15px;
  float: left;
  width: 85px;
  font-size: 90px;
  color: #efeff0;
}
.explain__block__info-image-inside {
  background-image: url(../img/explain-image.png);
  background-position: 144px 32px;
  display: block;
  width: 32px;
  height: 32px;
}
.explain__block__info-image-technologies {
  background-image: url(../img/explain-image.png);
  background-position: 72px 32px;
  display: block;
  width: 32px;
  height: 32px;
}
.explain__block__info-image-support {
  background-image: url(../img/explain-image.png);
  background-position: 112px 32px;
  display: block;
  width: 32px;
  height: 32px;
}
.explain__block__info {
  float: right;
  width: 235px;
  padding-left: 30px;

  h3 {
    display: block;
    margin-top: 15px;
  }
  a {
    display: block;
    margin-top: 25px;
    text-decoration: none;
    color: #2a2b2e;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
  }
  a:hover {
    color: #248cec;
  }
  a:after {
    content: "";
    background-image: url(../img/read-more.png);
    background-position: 1px 10px;
    float: right;
    display: block;
    width: 11px;
    height: 10px;
    margin-right: 145px;
    margin-top: 4px;
  }
  a:hover:after {
    content: "";
    background-image: url(../img/read-more.png);
    background-position: 1px 0px;
    float: right;
    display: block;
    width: 11px;
    height: 10px;
    margin-right: 145px;
    margin-top: 4px;
  }
}
.explain__block__info-text {
  width: 100%;
  margin-top: 20px;
  display: block;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
.services {
  height: 500px;
  width: 100%;
  background-color: $bgcServices;
  font-family: 'Ubuntu', sans-serif;
}
.services__wrapper {
  margin: 0 auto;
  width: 1160px;
  height: 100%;
  color: white;
}
.services__wrapper-title {
  font-size: 24px;
  color: #ffffff;
  padding: 40px 0 40px 0;
}
.services__wrapper-link {
}
figure {
  width: 25%;
  float: left;

  a {
    text-decoration: none;
  }
  figcaption:hover {
    color: #f4b60d;
  }

}
.services__wrapper-link-schedule {
}
figcaption {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}
.main {
  width: 100%;
  background-color: $bgcMain;
  overflow: hidden;
}
.main-wrapper {
  width: 1160px;
  margin: 0 auto;
}
.main__news-header,
.main__banners-header {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  padding-top: 45px;
  padding-bottom: 45px;
  width: 100%;
}
#accordion {
  width: 560px;
}
.acordion__header {
  height: 40px;
  overflow: hidden;
  margin-top: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;

  h3 {
    color: #2a2d32;
    font-size: 13px;
    display: block;
    margin-top: 13px;
    margin-left: 50px;
  }
}
.acordion__header-select {
  width: 40px;
  height: 40px;
  border-right: 1px solid #e8e8e8;
  float: left;
}
.ui-accordion-header-active {
  background-color: #f4b60d;
  h3 {
    color: #ffffff;
  }
}
.accordion-text {
  font-size: 13px;
  color: #8a8a8a;
  padding-left: 40px;
  padding-top: 30px;
}
.main__news {
  float: left;
  width: 50%;
  margin-bottom: 50px;
}
.main__news__block {
  float: left;
}
.main__news__block:last-child {
  margin-top: 30px;
}
.main__news__block__info {
    font-size: 13px;
    width: 375px;
    float: right;
    margin-left: 30px;
  h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #248cec;
  }
}
.main__news__block-author {
  display: block;
  margin-top: 15px;
  color: #8a8a8a;
  a {
    color: #0187f4;
    text-decoration: none;
  }
}
.main__news__block__info-text {
  margin-top: 20px;
  color: #8a8a8a;
}
.main__news__block-image-item1 {
  background-image: url(../img/quality.png);
  width: 150px;
  height: 150px;
  float: left;
  position: relative;
}
.main__news__block-image-date {
  position: absolute;
  top: 10px;
  left: -20px;
  width: 40px;
  height: 80px;
  overflow: hidden;
}
.main__news__block-image-date-month {
  height: 40px;
  background-color: #248cec;
  line-height: 40px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.main__news__block-image-date-day {
  height: 40px;
  background-color: #f4b60d;
  line-height: 40px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.main__news__block-image-item2 {
  background-image: url(../img/man.png);
  display: block;
  width: 150px;
  height: 150px;
  float: left;
  position: relative;
}
.main__banners {
  float: right;
  width: 50%;
}
.main__logo {
  clear: both;
  overflow: hidden;
  background-color: #ffffff;
}
.main__logo-wrapper {
  width: 1160px;
  margin: 0 auto;
  overflow: hidden;
  a {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
  }
}
.main__logo-item1 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/rbp.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 115px;
  float: left;
}
.main__logo-item2 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/moto.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 115px;
  float: left;
}
.main__logo-item3 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/crave.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 115px;
  float: left;
}
.main__logo-item4 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/atx.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 115px;
  float: left;
}
.main__logo-item5 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/cruiser.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 115px;
  float: left;
}
.main__logo-item1 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/gear.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 115px;
  float: left;
}
.info {
  width: 100%;
  background-color: $bgcInfo;
  overflow: hidden;
  font-size: 13px;
  color: #8a8a8a;
  li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #393c40;
  }
  li:last-child {
    padding-bottom: 85px;
  }
  a {
    text-decoration: none;
    color: #8a8a8a;
  }
  a:hover {
    color: #248cec;
  }
}
.info-wrapper {
  width: 1160px;
  margin: 0 auto;
}
.info__block {
  width: 1160px;
  margin: 0 auto;
}
.info__block__social {
  width: 250px;
  float: left;
  margin-left: 25px;
}
.info__block__links {
  width: 250px;
  float: left;
  margin-left: 25px;
}
.info__block__links-title,
.info__block__blogroll-title,
.info__block__about-us-title,
.info__block__social-title {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 60px;
  padding-bottom: 35px;
  color: #ffffff;
  font-size: 16px;
}
.info__block__blogroll {
  width: 250px;
  float: left;
  margin-left: 25px;
}
.info__block__about-us {
  width: 250px;
  float: left;
  margin-left: 25px;
}
.footer {
  height: 60px;
  width: 100%;
  background-color: $bgcFooter;
  overflow: hidden;
}
.footer__block {
  width: 600px;
  margin: 0 auto;
  margin-top: 22px;

  span {
    display: block;
    float: left;
  }
}
.footer__block-local-icon {
  background-image: url(../img/footer-icon.png);
  background-position: 65px 32px;
  width: 16px;
  height: 16px;
}
.footer__block-phone-icon {
  background-image: url(../img/footer-icon.png);
  background-position: 42px 32px;
  width: 16px;
  height: 16px;
}
.footer__block-mail-icon {
  background-image: url(../img/footer-icon.png);
  background-position: 18px 32px;
  width: 16px;
  height: 16px;
}
.footer__block-info {
  color: #ffffff;
  font-size: 12px;
  font-family: Arial;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  opacity: 0.2;
}

/* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 12 css */
        /*
        .jssora12l                  (normal)
        .jssora12r                  (normal)
        .jssora12l:hover            (normal mouseover)
        .jssora12r:hover            (normal mouseover)
        .jssora12l.jssora12ldn      (mousedown)
        .jssora12r.jssora12rdn      (mousedown)
        */
        .jssora12l, .jssora12r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 30px;
            height: 46px;
            cursor: pointer;
            background: url('../img/a12.png') no-repeat;
            overflow: hidden;
        }
        .jssora12l { background-position: -16px -37px; }
        .jssora12r { background-position: -75px -37px; }
        .jssora12l:hover { background-position: -136px -37px; }
        .jssora12r:hover { background-position: -195px -37px; }
        .jssora12l.jssora12ldn { background-position: -256px -37px; }
        .jssora12r.jssora12rdn { background-position: -315px -37px; }
