<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seventh Homework JS</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="js/template_script.js"></script>
  </head>
  <body>
    <script type='text/html' id='easy-tmpl'>
      <ol class="questions">
        <% for (var x in questions) {
          if (typeof questions[x] == 'string'){%>
              <li><%= questions[x] %></li>
            <%} else { %>
              <ul class="answers">
              <% for (var i = 0; i < questions[x].length; i++){%>
                <li><input type="checkbox"><%= questions[x][i][0]%></li>
            <% } %>
            </ul>
           <% }
          }%>
      </ol>
    </script>
    <div class="template-simple">
      <h2>Programming Test</h2>
    </div>
    <div class="button-check">
      <button class="btn btn-primary check-result">Check result</button>
    </div>
    <div class="modal-back">
      <div class="modal-window">
        <div class="result-info">
        </div>
        <button class="btn btn-primary button-close">Close</button>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
